@charset: utf-8;
html, body {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-ms-tap-highlight-color: rgba(0,0,0,0);
}
.wrap {
	position: relative;
	width: 93.44%;
	padding: 0 3.28% 5.96rem;
	background: #f0eff4;
}
.wrap header {
	height: 3.25rem;
}
.wrap h1, .wrap table {
	width: 93.44%;
	margin: 0 auto;
	border: 1px solid #d0d0d0;
	background: white;	
}
.wrap table {
	margin-top: 1.21rem;
	border-radius: 0.5rem;		
}
.wrap h1 {
	clear: both;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 3.25rem;
	line-height: 3.25rem;
	font-size: 1.33rem;
	text-align: center;
	color: #414141;
}
.wrap .up-page {
	position: fixed;
	left: 6.09%;
	top: 1rem;
	width: 3.13%;
	height: 1.33rem;
	z-index: 5;
	background: url('../images/TOP.png');
	background-size: 100% 100%;
}
.search {
	position: fixed;
	right: 6.09%;
	width: 5.70%;
	height: 1.5rem;
	top: 0.88rem;
	z-index: 5;
	background: url('../images/TOP2.png');
	background-size: 100% 100%;
}
/*导航条*/
.wrap nav {
	width: 93.44%;
	margin: 1rem auto 0;
}
.wrap nav a {
	float: left;
}
.tun, .line, .bxsq, .road, .bus,
.surp, .today {
	height: 2rem;
	margin-right: 2.59%;
	padding-top: 4.08rem;
	line-height: 2rem;
	color: white;
	font-size: 0.92rem;
	text-align: center;
	
}
.line, .bxsq, .road, .bus,
.surp, .today {
	width: 23%;
}
.road, .bus, .surp, .today {
	margin-top: 0.48rem;
}

.tun {
	width: 48.6%;
	background: #e66444 url('../images/group.png') center 2rem no-repeat;
	background-size: 17.45% 2.17rem;
}
.line {
	background: #f09056 url('../images/onlinefood.png') center 2rem no-repeat;
	background-size: 36.99% 2.08rem;
}
.bxsq {
	margin-right: 0;
	background: #a2c159 url('../images/tool.png') center 2rem no-repeat;
	background-size: 36.99% 2.08rem;
}
.road {
	background: #9178af url('../images/subway.png') center 2rem no-repeat;
	background-size: 36.99% 2.08rem;
}
.bus {
	background: #49a7da url('../images/public_tran.png') center 2rem no-repeat;
	background-size: 36.99% 2.08rem;
}
.surp {
	background: #56bc8a url('../images/surpermark.png') center 2rem no-repeat;
	background-size: 36.99% 2.08rem;
}
.today {
	margin-right: 0;
	background: #d179ad url('../images/today.png') center 2rem no-repeat;
	background-size: 36.99% 2.08rem;
}
/*生活小助手 */
.life td, .house td, .food td,
.play td, .hotel td, .traffic td {
	width: 33.11%;
	height: 3.29rem;
	border: 1px solid #ececec;
	line-height: 3.29rem;
	font-size: 0.92rem;
	text-align: center;
}
.life-tit, .house-tit, .food-tit,
.play-tit, .hotel-tit, .traffic-tit {
	position: relative;
	background: url('../images/life.png') right bottom no-repeat;
	background-size: 53% 4.83rem;
}
.life a, .house a, .food a,
.play a, .hotel a, .traffic a {
	display: block;
	width: 100%;
	height: 100%;
	color: #414141;
}
.life-tit span, .life-tit strong,
.house-tit span, .house-tit strong,
.food-tit span, .food-tit strong,
.play-tit span, .play-tit strong,
.hotel-tit span, .hotel-tit strong,
.traffic-tit span, .traffic-tit strong {
	position: absolute;
	left: 9.6%;
	line-height: 1.5rem;
	font-size: 1.33rem;
	color: #fb9543;
}
.life-tit span, .house-tit span,
.food-tit span, .play-tit span,
.hotel-tit span, .traffic-tit span{
	top: 0.75rem;
}
.life-tit strong, .house-tit strong,
.food-tit strong, .play-tit strong,
.traffic-tit strong {
	top: 2.25rem;
}
.life-tit em, .house-tit em,
.food-tit em, .play-tit em,
.hotel-tit em, .traffic-tit em,
.life-tit b, .house-tit b,
.food-tit b, .play-tit b,
.hotel-tit b, .traffic-tit b {
	position: absolute;
	width: 17.66%;
	height: 1.33rem;
	bottom: 0.17rem;
}
.next {	
	top: 0.76rem;
	left: 49.49%;
	background: url('../images/life_sup.png') no-repeat;
	background-size: 100% 100%;
}
.quan {
	left: 2.02%;
	background: url('../images/quan_orange.png') no-repeat;
	background-size: 100% 100%;
}
.hui {
	left: 21.4%;
	background: url('../images/hui_red.png') no-repeat;
	background-size: 100% 100%;
}
/*居家服务*/
.house-tit {
	background: url('../images/service.png') right bottom  no-repeat;
	background-size: 65.15% 4.67rem;
}
.house span, .house strong {
	color: #87be31;
}
.house .next {
	background: url('../images/arrows.png') no-repeat;
	background-size: 100% 100%;
}
.house .quan {
	left: 2.02%;
	background: url('../images/hui_orange.png') no-repeat;
	background-size: 100% 100%;
}
/*美食餐饮*/
.food-tit {
	background: url('../images/food.png') right bottom  no-repeat;
	background-size: 65.15% 4.67rem;
}
.food span, .food strong {
	color: #e79493;
}
.food .next {
	background: url('../images/next_pp.png') no-repeat;
	background-size: 100% 100%;
}
.food .hui-p, .play .hui-p,
.hotel .hui-p, .traffic .hui-p {
	left: 21%;
	background: url('../images/hui_red.png') no-repeat;
	background-size: 100% 100%;
}
.tuan-g {
	left: 40%;
	background: url('../images/tuan_green.png') no-repeat;
	background-size: 100% 100%;
}
/*休闲娱乐*/
.play-tit {
	background: url('../images/recreation.png') right bottom  no-repeat;
	background-size: 65.15% 4.67rem;
}
.play span, .play strong {
	color: #94b9df;
}
.play .next {
	background: url('../images/next_b.png') no-repeat;
	background-size: 100% 100%;
}
/*交通设施*/
.traffic-tit {
	background: url('../images/traffic.png') right bottom  no-repeat;
	background-size: 65.15% 4.67rem;
}
.traffic span, .traffic strong {
	color: #9aa0c3;
}
.traffic .next {
	background: url('../images/next_jt.png') no-repeat;
	background-size: 100% 100%;
}
/*酒店*/
.hotel-tit {
	background: url('../images/hotel.png') right bottom  no-repeat;
	background-size: 65.15% 4.67rem;
}
.hotel {
	margin-bottom: 5.4rem;
}
/*尾部点击后的效果*/
.wrap .foot a:nth-child(2) {
	color: #0079ff;
	background: url('../images/convenience.png') center 0.75rem no-repeat;
	background-size: 33.7% 1.75rem; 
}

