.cyr-wrap {
    width: 100%;
    height: 100%;
    padding-bottom: 5.54rem;
    background-color: #f0eff4;
}
/*头部公共样式*/
.cyr-top {
    position: relative;
    width: 100%;
    height: 3.25rem;
    background-color: #f9f9f9;
}
.cyr-top a {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: 3.25rem;
    color: #0079ff;
    background-size: 100%;
}
.cyr-top-return {
    left: 6%;
    width: 3%;
    height: 1.33rem;
    background: url("../images/TOP.png") 0 0 no-repeat;
}
.cyr-top-search {
    right: 6%;
    width: 6%;
    height: 1.63rem;
    background: url("../images/TOP2.png") 0 0 no-repeat;
}
.cyr-top h2 {
    width: 100%;
    height: 100%;
    font-size: 1.33rem;
    line-height: 3.25rem;
    color: #414141;
    text-align: center;
}

/*意见投诉*/
.cyr-yjts-form {
    width: 90.5%;
    margin: 1.42rem auto 0;
}
.cyr-yjts-title {
    position: relative;
    width: 95.5%;
    height: 5.08rem;
    padding: 1rem 2% 0 2.5%;
    border: 1px solid #d6d6d6;
    font-size: 0.92rem;
    line-height: 1.17rem;
    background-color: #fff;
    border-radius: 5px;
}
.cyr-yjts-tel {
    position: absolute;
    right: 2%;
    bottom: 0.5rem;
    width: 9%;
    height: 2.17rem;
    background: url("../images/tel.png") 0 0 no-repeat;
    background-size: 100%;
}
.cyr-yjts-detail {
    width: 96%;
    margin-top: 0.29rem;
    padding: 1.79rem 2% 0;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    border-radius: 5px;
}
.cyr-yjts-detail h2 {
    float: left;
    width: 15%;
    height: 2.29rem;
    font-size: 1.33rem;
    line-height: 2.29rem;
    text-align: center;
}
.cyr-yjts-show {
    position: relative;
    float: right;
    width: 67%;
    height: 2.21rem;
    margin-left: 3%;
    padding: 0 10% 0 4%;
    border: 1px solid #d6d6d6;
    background: url("../images/triangle.png") 93% 0.71rem no-repeat;
    background-size: 5% 36%;
}
.cyr-yjts-show p {
    width: 100%;
    height: 100%;
    line-height: 2.21rem;
}
.cyr-yjts-show ul {
    display: none;
    position: absolute;
    top: 2.21rem;
    left: 0;
    z-index: 99;
    width: 100%;
}
.cyr-yjts-show ul li {
    width: 95%;
    padding-left: 5%;
    line-height: 2rem;
    font-size: 0.92rem;
}
#cyr-yjts-content {
    float: left;
    width: 96%;
    height: 6.83rem;
    margin-top: 1.79rem;
    padding: 0.71rem 2%;
    border: 1px solid #d6d6d6;
    color: #dcdcdc;
    font-size: 0.75rem;
    resize: none;
}
.cyr-yjts-detail .cyr-yjts-submit-outer {
    float: left;
    width: 100%;
}
.cyr-yjts-detail .cyr-yjts-submit-outer .cyr-yjts-submit {
    display: block;
    width: 29%;
    height: 2.17rem;
    margin: 1.88rem auto;
    border: 1px solid #c9c9c9;
    line-height: 2.17rem;
    text-align: center;
    color: #fff;
    background-color: #53ca1a;
    border-radius: 5px;
}

/*意见投诉详情页*/
.cyr-yjts-list {
    width: 84%;
    padding: 0 3% 1.46rem;
    margin: 1.25rem auto 0;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    border-radius: 5px;
}
.cyr-yjts-list h2 {
    height: 3.67rem;
    line-height: 3.67rem;
    font-size: 1.33rem;
}
.cyr-yjts-list p {
    margin-bottom: 1.46rem;
    line-height: 1.17rem;
    font-size: 0.92rem;
}
.cyr-yjts-list strong {
    display: block;
    height: 1.17rem;
    font-size: 0.92rem;
    line-height: 1.17rem;
    color: #f00;
}
.cyr-yjts-list strong span {
    color: #414141;
}

/*商品信息*/
.cyr-spxx-sort {
    position: relative;
    width: 100%;
    padding: 1.17rem 0;
}
.cyr-spxx-sort-tit {
    width: 100%;
    height: 2.08rem;
    font-size: 1.33rem;
    line-height: 2.08rem;
    text-align: center;
}
.cyr-spxx-sort-tit div {
    float: left;
    width: 33.1%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
}
.cyr-spxx-sort-tit div span {
    height: 100%;
    padding-right: 7.51%;
    background: url("../images/goods_tri.png") 100% 1rem no-repeat;
    background-size: 0.33rem 0.33rem;
}
.cyr-spxx-sort-tit div:nth-child(3) {
    border: none;
}
.cyr-spxx-sort-content {
    position: absolute;
    top: 3.25rem;
    left: 0;
    z-index: 99;
    width: 100%;
}
.cyr-spxx-sort-distance, .cyr-spxx-sort-delicious, .cyr-spxx-sort-default {
    display: none;
    float: left;
    width: 100%;
}
.cyr-spxx-sort-content-tit {
    float: left;
    width: 47.81%;
    padding-bottom: 1.42rem;
    font-size: 1.33rem;
    line-height: 3.33rem;
    background-color: #f0eff4;
}
.cyr-spxx-sort-content-tit span {
    float: left;
    width: 83.7%;
    height: 100%;
    padding-left: 16.3%;
}
.cyr-spxx-sort-content-list ul {
    display: none;
    float: left;
    width: 46.88%;
    padding-left: 5%;
    background-color: #fff;
}
.cyr-spxx-sort-content-list ul li {
    width: 93%;
    height: 3.29rem;
    padding-left: 7%;
    border-bottom: 1px solid #f0eff4;
    line-height: 3.29rem;
    font-size: 1.33rem;
}
.cyr-spxx-sort-content .cyr-spxx-list-sel {
    display: block;
    background-color: #fff;
}
.cyr-spxx-sort-content .cyr-spxx-li-sel {
    color: #1784e7;
    border-color: #1784e7;
}
.cyr-spxx-sort-default ul {
    width: 92.19%;
    padding: 0 0 1.42rem 7.81%;
    background-color: #fff;
}
.cyr-spxx-sort-default ul li {
    width: 100%;
    height: 3.29rem;
    border-bottom: 1px solid #f0eff4;
    line-height: 3.29rem;
    font-size: 1.33rem;
}
/*商品信息图文并茂*/
.cyr-spxx-content {
    width: 96.09%;
    padding-left: 3.91%;
    background-color: #fff;
}
.cyr-spxx-content {
    display: block;
    width: 100%;
}
.cyr-spxx-content dl {
    float: left;
    width: 100%;
    padding: 0.58rem 0;
    border-bottom: 1px solid #d6d6d6;
}
.cyr-spxx-content dl dt {
    float: left;
    width: 27%;
    height: 5.5rem;
    border: 1px solid #d6d6d6;
    border-radius: 5px ;
}
.cyr-spxx-content dl dt img {
    display: block;
    width: 100%;
    height: 100%;
}
.cyr-spxx-content dl dd {
    position: relative;
    float: left;
    width: 69%;
    height: 5.5rem;
    margin-left: 3%;
}
.cyr-spxx-content dl dd h2 {
    float: left;
    line-height: 2.25rem;
    font-size: 1.33rem;
    color: #414141;
}
.cyr-spxx-content dl dd p {
    float: left;
    width: 7.5%;
    height: 1.33rem;
    margin: 0.45rem 2.5% 0 1.88%;
    line-height: 1.33rem;
    text-align: center;
    color: #fff;
    background-color: #53aa1d;
    border-radius: 50%;
}
.cyr-spxx-content dl dd strong {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.08rem;
    font-size: 0.92rem;
    color: #414141;
}
.cyr-spxx-content dl dd strong span {
    float: left;
    height: 1.08rem;
    margin-right: 4%;
}
.cyr-spxx-content .cyr-spxx-content-near {
    float: right;
    margin-right: 7%;
}

/*评论页*/
.cyr-comment {
    position: relative;
    width: 90%;
    margin: 1rem auto;
    box-shadow: 0 0 0 1px #d6d6d6;
}  
#cyr-comment-say {
    display: block;
    width: 94%;
    height: 5.59rem;
    padding: 0.83rem 3%;
    border: none;
    resize: none;
}
.cyr-comment span {
    position: absolute;
    bottom: 0.58rem;
    right: 3%;
    font-size: 0.92rem;
    line-height: 1rem;
    color: #0079ff;
}
.cyr-comment-content {
    width: 90%;
    margin: 1rem auto;
    box-shadow: 0 0 0 1px #d6d6d6;
    background-color: #fff;
}
.cyr-comment-content dl {
    float: left;
    width: 94%;  
    padding: 0.67rem 3%;
    border-bottom: 1px solid #d6d6d6;
}
.cyr-comment-content dl dt {
    float: left;
    width: 10.17%;
    height: 2.29rem;
    margin-right: 3%;
}
.cyr-comment-content dl dt a img {
    display: block;
    width: 100%;
    height: 100%;
}
.cyr-comment-content dl dd {
    float: left;
    width: 86.83%;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #666;
}
.cyr-comment-content dl dd a, .cyr-comment-content dl dd span, .cyr-comment-content dl dd p {
    float: left;
}
.cyr-comment-content dl dd a {
    margin-right: 2.3%;
    color: #0079ff;
}
.cyr-comment-content dl dd p {
    width: 100%;
    color: #414141;
}
.cyr-comment-content dl dd em {
    float: right;
}
.cyr-comment-succeed {
    display: none;
    position: fixed;
    top: 16.33rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 61%;
    height: 5.92rem;
    font-size: 0.92rem;
    line-height: 5.92rem;
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 0.3;
}