html, body {
	height: 100%;
	background: #f0eff4;
}
/*2016-07-15做好页面*/
/*社区活动*/

.zfx-attend {
    position: relative;
    padding: 4.75rem 0 6rem 0;
}
.zfx-attend header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 3.33rem;
    background: #f9f9f9;
}
.zfx-attend header a {
    position: fixed;
    width: 3.13%;
    height: 1.33rem;
    top: 1rem;
    left: 6.09%;
    background: url("../images/TOP.png") no-repeat;
    background-size: 100% 100%;
}
.zfx-attend header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.33rem;
}
/*报名内容*/
.zfx-apply {
	width: 90%;
	height: 27.75rem;
	margin: 0 auto;
	border: 1px solid #d6d6d6;
	border-radius: 0.21rem;
	background: #fff;
}
.zfx-match {
	width: 100%;
	height: 14.79rem;
}
.zfx-match span {
	display: block;
	padding: 0.75rem 0 0 5.21%;
	font-size: 1.33rem;
	line-height: 1rem;
}
.zfx-match strong {
	float: left;
	padding: 0.63rem 3.99% 1.17rem 5.21%;
	font-size: 0.75rem;
	color: #666666;
}
.zfx-match em {
	float: left;
	padding: 0.63rem 3.99% 1.17rem 0;
	font-size: 0.75rem;
	color: #666666;
}
.zfx-match div {
	float: left;
	width: 100%;
	height: 9.25rem;
}
.zfx-match img {
	width: 38.54%;
	height: 9.25rem;
	padding-left: 5.21%;
}
.zfx-theme {
	width: 90%;
	height: 11.25rem;
	margin: 0 auto;
}
.zfx-theme span {
	display: block;
	font-size: 0.92rem;
	line-height: 1rem;
}
.zfx-theme p {
	margin-top: 1.17rem;
	font-size: 0.92rem;
	line-height: 1rem;
}
.zfx-icon {
	float: right;
	width: 42%;
	height: 0.75rem;
}
.zfx-icon span {
	float: left;
	padding: 0 9% 0 16%;
	font-size: 0.92rem;
	background: url("../images/note.png") 0 50% no-repeat;
	background-size: 0.75rem 0.75rem;
}
.zfx-icon em {
	float: left;
	margin-right: 12%;
}
.zfx-icon strong {
	float: left;
	padding-left: 14%;
	font-size: 0.92rem;
	background: url("../images/love.png") 0 50% no-repeat;
	background-size: 0.88rem 0.75rem;
}
.zfx-participate {
	display: block;
	width: 26%;
	height: 2.17rem;
	margin: 1.67rem auto 0;
	font-size: 0.92rem;
	line-height: 2.17rem;
	text-align: center;
	color: #fff;
	border-radius: 0.21rem;
	border: 1px solid #d6d6d6;
	background: #54ca1d;
}
/*弹窗人数*/
.zfx-people {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto; 
    width: 61%;
    height: 5.92rem;
    background: rgba(0, 0, 0, 0.4);
}
.zfx-people span {
    float: left;
    padding: 0.9rem 3.32% 0 7.65%;
    font-size: 0.92rem;
    color: #fff;
}
.zfx-people div {
    overflow: hidden;
    float: left;
    width: 27.55%;
    height: 1.25rem;
    margin-top: 0.79rem;
    border: 1px solid #d6d6d6;
}
.zfx-people div input {
    float: left;
    width: 140%;
    height: 1.25rem;
    margin-left: -1rem;
    padding-left: 1.3rem;
    border: 0;
}
.zfx-people em {
    float: left;
    padding: 0.9rem 0 0 4%;
    font-size: 0.92rem;
    color: #fff;
}
.zfx-people a {
    display: block;
    clear: both;
    width: 30%;
    height: 1.33rem;
    margin: 3.5rem auto 0;
    font-size: 0.92rem;
    line-height: 1.33rem;
    text-align: center;
    color: #fff;
    border-radius: 0.21rem;
    border: 1px solid #d6d6d6;
    background: #4ecb13;
}


/*邀请加入*/
.htl-perset header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 3.25rem;
    width: 100%;
    background: #f9f9f9;
    line-height: 3.25rem;
    font-size: 1.33rem;   
    text-align: center;
}
.htl-perset header a {
    position: fixed;
    left: 6.09%;
    top: 1rem;
    width: 3.13%;
    height: 1.33rem;
    z-index: 5;
    background: url('../images/TOP.png');
    background-size: 100% 100%;
}
.zfx-centre {
    padding-top: 3.33rem;
}
.htl-perset-bigpic {
    position: relative;
    height: 14.42rem;
}
.htl-perset-bigpic img, .htl-perset-bigpic dt img {
    display: block;
    width: 100%;
    height: 100%;
}
.htl-perset-bigpic dl {
    position: absolute;
    top: 2.88rem;
    width: 100%;
}
.htl-perset-bigpic dt {
    overflow: hidden;
    width: 18.85%;
    height: 5rem;
    margin: 0 auto;
    border-radius: 100%;
    background: #f0f0f0 url('../images/person_bg.png') 1rem 1rem no-repeat;
    background-size: 3.08rem 4.29rem;
}
.htl-perset-bigpic dt:after {
    position: absolute;
    top: -0.1rem;
    content: '';
    width: 19.73%;
    height: 5.97rem;
    background: url('../images/person_circle.png') 0 0 no-repeat;
    background-size: 98% 100%;
}
.htl-perset-bigpic dd {
    margin-top: 2.71rem;
    line-height: 1.54rem;
    font-size: 1.33rem;
    text-align: center;
}
.htl-perset-bigpic dd span, .htl-perset-bigpic dd a {
    position: relative; 
    color: #fff;
}
.htl-perset-bigpic dd span:after,
.htl-perset-bigpic dd a:after {
    position: absolute;
    right: -1.46rem;
    top: 0.34rem;
    display: block;
    content: '';
    width: 0.96rem;
    height: 0.96rem;
    background: url('../images/pen.png');
    background-size: 100% 100%;
}
/*我的消息/活动/收藏*/
.zfx-option {
    width: 100%;
    height: 5.5rem;
    padding: 1.04rem 0 1.25rem 0;
    background: #fff;
    box-shadow: 0 0.08rem #d6d6d6;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.zfx-advices {
    position: relative;
    float: left;
    width: 33%;
    height: 3.21rem;
}
.zfx-advices span {
    display: block;
    padding-top: 1.88rem;
    text-align: center;
    color: #414141;
    background: url("../images/message.png") 50% 0 no-repeat;
    background-size: 1.63rem 1.63rem; 
}
.zfx-advices em {
    position: absolute;
    top: -0.83rem;
    left: 60%;
    display: block;
    width: 12%;
    height: 1.04rem;
    line-height: 1.04rem;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background: #ff0000;
}
.zfx-mine-activity {
    position: relative;
    float: left;
    width: 33%;
    height: 3.21rem;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}
.zfx-mine-activity span {
    display: block;
    padding-top: 1.88rem;
    text-align: center;
    color: #414141;
    background: url("../images/gift.jpg") 50% 0 no-repeat;
    background-size: 1.63rem 1.63rem; 
}
.zfx-enshrine {
    position: relative;
    float: left;
    width: 33%;
    height: 3.21rem;
}
.zfx-enshrine span {
    display: block;
    padding-top: 1.88rem;
    text-align: center;
    color: #414141;
    background: url("../images/star.jpg") 50% 0 no-repeat;
    background-size: 1.63rem 1.63rem; 
}
.zfx-classify {
    width: 94%;
    height: 7.08rem;
    margin: 1rem auto 0;
    border: 1px solid #d6d6d6;
    border-radius: 0.21rem;
    background: #fff;
}
/*邀请加入*/
.zfx-join {
    position: relative;
    width: 95%;
    height: 3.58rem;
    margin: 0 auto;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-join span {
    display: block;
    padding-left: 11%;
    font-size: 1.33rem;
    line-height: 3.58rem;
    color: #000;
    background: url("../images/invite.png") 2% 50% no-repeat;
    background-size: 1.25rem 1.25rem;
}
.zfx-join em {
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: 2%;
    height: 0.96rem;
    background: url("../images/right.png") no-repeat;
    background-size: 0.58rem 0.96rem;
}
/*意见投诉*/
.zfx-opinion {
    position: relative;
    width: 95%;
    height: 3.58rem;
    margin: 0 auto;
}
.zfx-opinion span {
    display: block;
    padding-left: 11%;
    font-size: 1.33rem;
    line-height: 3.58rem;
    color: #000;
    background: url("../images/mail.png") 2% 50% no-repeat;
    background-size: 1.21rem 0.83rem;
}
.zfx-opinion em {
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: 2%;
    height: 0.96rem;
    background: url("../images/right.png") no-repeat;
    background-size: 0.58rem 0.96rem;
}

/*空间，博客，微信，*/
.zfx-choose {
    width: 100%;
    height: 13.5rem;
    margin-top: 0.83rem;
    padding: 0.54rem 9% 0.83rem 10.31%;
    border: 1px solid #d6d6d6;
    background: #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.zfx-category {
    float: left;
    width: 21%;
    height: 5.75rem;
    margin-right: 18%;
}
.zfx-category img {
    width: 100%;
    height: 4.5rem;
}
.zfx-category span {
    display: block;
    font-size: 0.92rem;
    text-align: center;
    color: #2f2f2f;
}
.zfx-Tencent {
    float: left;
    width: 21%;
    height: 5.75rem;
}
.zfx-Tencent img {
    width: 100%;
    height: 4.5rem;
}
.zfx-Tencent span {
    display: block;
    font-size: 0.92rem;
    text-align: center;
    color: #2f2f2f;
}
.zfx-WeChat {
    float: left;
    width: 21%;
    height: 5.75rem;
    margin: 0.58rem 18% 0 0;
}
.zfx-WeChat img {
    width: 100%;
    height: 4.5rem;
}
.zfx-WeChat span {
    display: block;
    font-size: 0.92rem;
    text-align: center;
    color: #2f2f2f;
}