/*社区超市*/
html, body {
    height: 100px;
    background: #f0eff4;
}
.zfx-supermarket {
    width: 100%;
    height: 100%;
}
.zfx-supermarket header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.33rem;
    background: #f9f9f9;
}
.zfx-supermarket header a {
    position: fixed;
    width: 3.13%;
    height: 1.33rem;
    top: 1rem;
    left: 6.09%;
    background: url("../images/TOP.png") no-repeat;
    background-size: 100% 100%;
}
.zfx-supermarket header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.33rem;
}
/*商家超市物品*/
.zfx-shopping {
    padding-top: 3.33rem;
    padding-bottom: 6.2rem;
}
.zfx-article {
    width: 93%;
    height: 10.83rem;
    margin: 1rem auto 0;
    padding: 0.75rem 0 0.83rem 3.02%;
    border: 1px solid #cfcfcf;
    border-radius: 0.21rem;
    background: #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.zfx-article dt {
    float: left;
    width: 37%;
    height: 9.17rem;
}
.zfx-article dt img {
    float: left;
    width: 100%;
    height: 9.17rem;
}
.zfx-article dd {
    float: left;
    margin-left: 7%;
    width: 30%;
    height: 9.17rem;
}
.zfx-article dd h2 {
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 1.3rem;
}
.zfx-article dd em {
    display: block;
    margin-top: 0.58rem;
    font-size: 0.92rem;
}
.zfx-article dd span {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.92rem;
}
.zfx-article dd strong {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.92rem;
}
.zfx-article dd a {
    display: block;
    width: 100%;
    height: 1.5rem;
    margin-top: 1.5rem;
    font-size: 0.92rem;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
    border-radius: 0.21rem;
    background: #42cd00;
}


/*社区活动*/
.zfx-news {
    width: 100%;
    height: 100%;
}
.zfx-news header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.33rem;
    background: #f9f9f9;
}
.zfx-news header a {
    position: fixed;
    width: 3.13%;
    height: 1.33rem;
    top: 1rem;
    left: 6.09%;
    background: url("../images/TOP.png") no-repeat;
    background-size: 100% 100%;
}
.zfx-news header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.33rem;
}
/*新闻内容*/
.zfx-protection {
    width: 90%;
    height: 25.83rem;
    margin: 4.58rem auto 0;
    padding: 1.04rem 6% 1.04rem 5%;
    border: 1px solid #d6d6d6;
    border-radius: 0.21rem; 
    background: #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.zfx-foreign {
    width: 100%;
    height: 13.75rem;
}
.zfx-foreign p {
    font-size: 0.92rem;
}
.zfx-foreign span {
    font-size: 0.75rem;
    margin-right: 4%;
}
.zfx-foreign em {
    font-size: 0.75rem;
}
.zfx-foreign img {
    display: block;
    width: 43%;
    height: 9.29rem;
    margin-top: 1.33rem;
}
.zfx-details {
    width: 100%;
    height: 10rem;
}
.zfx-details p {
    font-size: 0.92rem;
    line-height: 1rem;
}
.zfx-details a {
    float: left;
    margin: 1rem 0 0 54%;
    padding: 0 4% 0 8%;
    color: #666666;
    background: url("../images/note.png") 0 50% no-repeat;
    background-size: 0.75rem 0.75rem;
}
.zfx-details em {
    float: left;
    margin: 1rem 5% 0 0;
}
.zfx-details strong {
    float: left;
    margin-top: 1rem;
    padding-left: 1.3rem;
    color: #666666;
    background: url("../images/love.png") 0 50% no-repeat;
    background-size: 0.75rem 0.75rem;
}
.zfx-details .zfx-show {
    color: #ff0000;
     background: url("../images/loves.png") 0 50% no-repeat;
    background-size: 0.75rem 0.75rem;
}


/*订奶*/
.zfx-order {
    width: 100%;
    height: 100%;
}
.zfx-order header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.33rem;
    background: #f9f9f9;
}
.zfx-order header a {
    position: fixed;
    width: 3.13%;
    height: 1.33rem;
    top: 1rem;
    left: 6.09%;
    background: url("../images/TOP.png") no-repeat;
    background-size: 100% 100%;
}
.zfx-order header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.67rem;
}
/*厂家电话*/
.zfx-order-phone {
    width: 96%;
    height: 14.33rem;
    margin: 4.17rem auto 0;
    border: 1px solid #d6d6d6;   
    border-radius: 0.21rem;
    background: #fff;
}
.zfx-vender {
    position: relative;
    width: 100%;
    height: 3.58rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-vender span {
    display: block;
    padding-left: 3%;
    font-size: 1.33rem;
    color: #000;
    line-height: 3.67rem;
}
.zfx-vender em {
    position: absolute;
    width: 8%;
    height: 1.96rem;
    top: 0.63rem;
    right: 3%;
    background: url("../images/phone.png") no-repeat;
    background-size: 1.96rem 1.96rem;
}
.zfx-vender-different {
    position: relative;
    width: 100%;
    height: 3.58rem;
}
.zfx-vender-different span {
    display: block;
    padding-left: 3%;
    font-size: 1.33rem;
    color: #000;
    line-height: 3.67rem;
}
.zfx-vender-different em {
    position: absolute;
    width: 8%;
    height: 1.96rem;
    top: 0.63rem;
    right: 3%;
    background: url("../images/phone.png") no-repeat;
    background-size: 1.96rem 1.96rem;
}


/*生活小助手*/
.zfx-assistant {
    width: 100%;
    height: 100%;
}
.zfx-assistant header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.33rem;
    background: #f9f9f9;
}
.zfx-assistant header a {
    position: fixed;
    width: 3.13%;
    height: 1.33rem;
    top: 1rem;
    left: 6.09%;
    background: url("../images/TOP.png") no-repeat;
    background-size: 100% 100%;
}
.zfx-assistant header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 3.67rem;
}
.zfx-picture {
    padding-top: 3.33rem;
    width: 100%;
    height: 9.75rem;
}
.zfx-picture img {
    width: 100%;
    height: 9.75rem;
}
/*生活服务*/
.zfx-product-service {
    padding-bottom: 6rem;
}
/*订奶*/
.zfx-product {
    width: 96%;
    height: 23.5rem;
    margin: 0.96rem auto 0;
    border: 1px solid #d6d6d6;
    border-radius: 0.21rem;
    background: #fff;
}
.zfx-daily {
    position: relative;
    width: 100%;    
    height: 3.92rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-daily em {
    position: absolute;
    top: 0.71rem;
    left: 2%;
    width: 10%;
    height: 2.5rem;
    background: url("../images/icon-1.png") no-repeat;
    background-size: 2.5rem 2.5rem;
}
.zfx-daily span {
    display: block;
    padding: 0.5rem 0  0 15%;
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}
.zfx-daily strong {
    display: block;
    padding-left: 15% ;
    font-size: 0.92rem;
    color: #666666;
}
.zfx-daily b {
    position: absolute;
    top: 1.46rem;
    right: 4%;
    width: 4%;
    height: 0.92rem;
    background: url("../images/right.png") no-repeat;
    background-size: 100% 100%;
}
/*送水*/
.zfx-water {
    position: relative;
    width: 100%;    
    height: 3.92rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-water em {
    position: absolute;
    top: 0.71rem;
    left: 2%;
    width: 10%;
    height: 2.5rem;
    background: url("../images/icon-2.png") no-repeat;
    background-size: 2.5rem 2.5rem;
}
.zfx-water span {
    display: block;
    padding: 0.5rem 0  0 15%;
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}
.zfx-water strong {
    display: block;
    padding-left: 15% ;
    font-size: 0.92rem;
    color: #666666;
}
.zfx-water b {
    position: absolute;
    top: 1.46rem;
    right: 4%;
    width: 4%;
    height: 0.92rem;
    background: url("../images/right.png") no-repeat;
    background-size: 100% 100%;
}
/*家政*/
.zfx-housekeeping {
    position: relative;
    width: 100%;    
    height: 3.92rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-housekeeping em {
    position: absolute;
    top: 0.71rem;
    left: 2%;
    width: 10%;
    height: 2.5rem;
    background: url("../images/icon-3.png") no-repeat;
    background-size: 2.5rem 2.5rem;
}
.zfx-housekeeping span {
    display: block;
    padding: 0.5rem 0  0 15%;
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}
.zfx-housekeeping strong {
    display: block;
    padding-left: 15% ;
    font-size: 0.92rem;
    color: #666666;
}
.zfx-housekeeping b {
    position: absolute;
    top: 1.46rem;
    right: 4%;
    width: 4%;
    height: 0.92rem;
    background: url("../images/right.png") no-repeat;
    background-size: 100% 100%;
}
/*快递*/
.zfx-express {
    position: relative;
    width: 100%;    
    height: 3.92rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-express em {
    position: absolute;
    top: 0.71rem;
    left: 2%;
    width: 10%;
    height: 2.5rem;
    background: url("../images/icon-4.png") no-repeat;
    background-size: 2.5rem 2.5rem;
}
.zfx-express span {
    display: block;
    padding: 0.5rem 0  0 15%;
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}
.zfx-express strong {
    display: block;
    padding-left: 15% ;
    font-size: 0.92rem;
    color: #666666;
}
.zfx-express b {
    position: absolute;
    top: 1.46rem;
    right: 4%;
    width: 4%;
    height: 0.92rem;
    background: url("../images/right.png") no-repeat;
    background-size: 100% 100%;
}
/*开锁*/
.zfx-unlocking {
    position: relative;
    width: 100%;    
    height: 3.92rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-unlocking em {
    position: absolute;
    top: 0.71rem;
    left: 2%;
    width: 10%;
    height: 2.5rem;
    background: url("../images/icon-5.png") no-repeat;
    background-size: 2.5rem 2.5rem;
}
.zfx-unlocking span {
    display: block;
    padding: 0.5rem 0  0 15%;
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}
.zfx-unlocking strong {
    display: block;
    padding-left: 15% ;
    font-size: 0.92rem;
    color: #666666;
}
.zfx-unlocking b {
    position: absolute;
    top: 1.46rem;
    right: 4%;
    width: 4%;
    height: 0.92rem;
    background: url("../images/right.png") no-repeat;
    background-size: 100% 100%;
}
/*疏通*/
.zfx-dredge {
    position: relative;
    width: 100%;    
    height: 3.92rem;
    box-shadow: 0 1px #d6d6d6;
}
.zfx-dredge em {
    position: absolute;
    top: 0.71rem;
    left: 2%;
    width: 10%;
    height: 2.5rem;
    background: url("../images/icon-6.png") no-repeat;
    background-size: 2.5rem 2.5rem;
}
.zfx-dredge span {
    display: block;
    padding: 0.5rem 0  0 15%;
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}
.zfx-dredge strong {
    display: block;
    padding-left: 15% ;
    font-size: 0.92rem;
    color: #666666;
}
.zfx-dredge b {
    position: absolute;
    top: 1.46rem;
    right: 4%;
    width: 4%;
    height: 0.92rem;
    background: url("../images/right.png") no-repeat;
    background-size: 100% 100%;
}
